# Sepolia 测试网配置
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_PROJECT_ID
SEPOLIA_ACCOUNT1_PRIVATE_KEY=your_private_key_here
SEPOLIA_ACCOUNT2_PRIVATE_KEY=your_private_key_2_here
SEPOLIA_ACCOUNT3_PRIVATE_KEY=your_private_key_3_here
SEPOLIA_ACCOUNT4_PRIVATE_KEY=your_private_key_4_here
SEPOLIA_ACCOUNT5_PRIVATE_KEY=your_private_key_5_here

